.settingsPage {
  padding: 0 15px;
}

.alert,
.filename {
  display: flex;
}

.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 24px;

  & + .button {
    margin-left: 8px;
  }
}

.icon {
  font-size: 20px;
  margin-top: 3px;

  & + .text {
    margin-left: 8px;
  }
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}